<nav class="navbar navbar-expand-md navHead navItem navbar-dark bg-dark">
    <div>
      
                    <a class="navbar-brand " href="/admin/home">
                        Gravity Store
                    </a>
                   


        
    </div>
   
    

    <!-- Navbar Collapse -->
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarToggle"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end navItem " id="navbarToggle">
        <ul class="navbar-nav ml-lg-auto">
          
            
         
          
          
           
            <li class="nav-item">
                <a class="nav-link smoothScroll" style="color: #fafeff;" href="/login">Login</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link smoothScroll" style="color: #fafeff;" href="/register">Sign Up</a>
            </li> 
           
        </ul>
       
    </div>
</nav>