<%- include('./includes/head.ejs') %>
<body>

    <!-- <%- include('./includes/navigation.ejs') %> -->
    <div id="main">
        <div class="fof">
                <h1><%=message %></h1>
        </div>
    </div>
<%- include('./includes/end.ejs') %>