<%- include('./includes/head.ejs') %>
<body>

   
<div class="center">
    <h1 class="animate__animated animate__bounce " style="font-size: 4.5rem;
    font-weight: 1000;">URL Shortener!</h1>
   
    <div >    
        <form action="/" method="post">
        <div class="form-group ">
          <input type="url" class="form-control" id="url" aria-describedby="url" name="url" placeholder="Enter Your Website URL">
        </div>
        <span>
        <button type="submit" class="btn btn-success">Submit</button>
        <button type="reset" class="btn btn-danger">Reset</button>
    </span>
      </form>

</div>
<% if(generatedUrl!='NULL') { %>
<div >
    <table style="border: 1px px #c7e6e0;padding: 10px;margin-top: 20%;">
        <tr>
            <td >
                <h3>Generated Short Url: </h3><a href="<%= generatedUrl%>"  target="_blank"><h4 style="font-family: fantasy;width: max-content;"><u><%= generatedUrl%></u></h4></a>
                 </td>
        </tr>
    </table>
    <% } %>


</div>


   
   
<%- include('./includes/end.ejs') %>